* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

/* utilities */
* ul {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.self-center {
  align-self: center;
}
.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.w-100 {
  width: 100%;
}
.hidden {
  display: none;
}

/* typo */
.opacity-05 {
  opacity: .5;
}
.opacity-07 {
  opacity: .7;
}
.opacity-08 {
  opacity: .8;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 11px;
}
* a {
  opacity: .6;
  text-decoration: none;
  color: white;
}
.text-white {
  color: white;
  opacity: 1;
}


/* PAGE */
.app-container {
  height: 100vh;
}

/* section main */
.section-main {
  /* debug color */
  background-color: black;
  flex-grow: 1;
}

/* SIDEBAR left */
.section-main .sidebar-left {
  /* debug color */
  background-color: black;
  width: 200px;
  justify-content: space-between;
  padding-left: 15px;
}

/* logo */
.section-main .sidebar-left .sidebar-box-top .logo-box img {
  padding-top: 20px;
  width: 130px;
  transition: color .3s,
}

.section-main .sidebar-left .sidebar-box-top .logo-box #logo-small {
  padding-top: 20px;
  width: 40px;
  transition: color .3s,
}

/* list utilities */
.section-main .sidebar-left .sidebar-box-top .utilities {
  padding-top: 15px;
}
/* home button */
.section-main .sidebar-left .sidebar-box-top .utilities #home {
  color: white;
}

.section-main .sidebar-left .sidebar-box-top .utilities #home:hover {
  color: #1ed760;
}


.section-main .sidebar-left .sidebar-box-top .utilities li {
  padding-bottom: 8px;
  transition: opacity .3s, color .3s;
}

.section-main .sidebar-left .sidebar-box-top .utilities li:hover a{
  color: #1ed760;
  opacity: .8;
}

.section-main .sidebar-left .sidebar-box-top .utilities a h4 {
  align-self: center;
  font-weight: 400;
}

/* green left pseudo element */
.section-main .sidebar-left .sidebar-box-top .utilities a:before {
  display: none;
  content: "";
  border-left: 4px solid #1ed760;
  position: relative;
  right: 15px;
}

.section-main .sidebar-left .sidebar-box-top .utilities #home:before {
  display: inline;
  content: "";
  border-left: 4px solid #1ed760;
  position: relative;
  right: 15px;
}

.section-main .sidebar-left .sidebar-box-top .utilities li:hover a:before {
  display: inline;
}

/* utilities img plus */
.section-main .sidebar-left img {
  width: 25px;
  margin-right: 5px;
}


/* utilities hover */
.section-main .sidebar-left .sidebar-box-top .utilities li:hover {
  opacity: .8;
}

/* playlist management */
.section-main .sidebar-left .sidebar-box-top .playlist {
  padding-top: 10px;
}

.section-main .sidebar-left .sidebar-box-top .playlist li {
  padding: 5px 0px;
  transition: opacity .3s;
}

/* PLAYLIST list hover */
.section-main .sidebar-left .sidebar-box-top .playlist li:hover {
  opacity: .8;
}

.section-main .sidebar-left .sidebar-box-top .playlist li:hover a{
  color: #1ed760;
}

.section-main .sidebar-left .sidebar-box-top .playlist li a {
  font-size: 13px;
}

.section-main .sidebar-left .sidebar-box-top .playlist h3 {
  text-transform: uppercase;
}

.section-main .sidebar-left .sidebar-box-top .playlist i {
  background-color: lightgray;
  color: #333;
  padding: 10px;
  font-size: 14px;
  margin-right: 5px;
  transition: font-size .3s;
}

.section-main .sidebar-left .sidebar-box-top .playlist li:hover i{
  font-size: 16px;
}


/* account sidebar bot */
.sidebar-left .account {
  padding-right: 15px;
}

.sidebar-left .account .download-app {
  border-bottom: 1px solid #717171;
  border-radius: 2px;
}

.sidebar-left .account .account-logged a {

}

.sidebar-left .account .download-app a,
.sidebar-left .account .account-logged a {
  padding: 10px 0px;
  transition: color .4s, opacity .4s;
}

.sidebar-left .account .download-app a i,
.sidebar-left .account .account-logged a i {
  padding-right: 5px;
}

.sidebar-left .account .download-app a:hover,
.sidebar-left .account .account-logged a:hover {
  color: #1ed760;
  opacity: .7;
}

.sidebar-left .account .account-logged #profile-img {
  background-color: gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}


/* MAIN CONTENT PAGE */
.main-page {
  flex-grow: 1;
  top: 0;
  left: 0;
  background-color: #121212;
}

/* transparent upgrade */
.main-page .upgrade-fixed {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  background-color: #0000008a;
}

.main-page .upgrade-fixed a {
  margin-right: 30px;
  padding:10px 30px;
  color: white;
  opacity: 1;
  border: 1px solid white;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  transition: font-size .2s, background-color .2s;
}

.main-page .upgrade-fixed a:hover {
  font-size: 14px;
  background-color: black;
}

/* navigation music genres */
.main-page .scrolling {
  position: absolute;
  top: 0;
  left: 0;
  padding: 90px 15px 30px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main-page .genres-navbar {
  /* debug color */
  background-color: #121212;
  width: 100%;
  justify-content: center;
}

/* navbar genres */
.main-page .genres-navbar ul {
  list-style: none;
  justify-content: center;
}

.main-page .genres-navbar ul li {
}

.main-page .genres-navbar ul li a{
  padding-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* section scrollable */
.main-page .scrolling .row {
  width: 100%;
  height: 300px;
}

.main-page .scrolling .album-list {
  width: 100%;
 }

.main-page .scrolling .album-list li {
  width: calc((100% / 6) - 10px);
}

/* SECTION BOTTOM bottom bar */
.player-bottom {
  /* debug color */
  background-color: #282828;
  height: 70px;
  justify-content: space-between;
}

/* song box */
.player-bottom .song-box {
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.player-bottom .song-box,
.player-bottom .player-utilities {
  width: 200px;
}

.player-bottom .song-box img {
  height: 40px;
}

.player-bottom .song-box .text-song {
  padding-left: 10px;
}

.player-bottom .song-box .text-song h5:hover {
  text-decoration: underline;
}

.player-bottom .song-box .utilities-icon {
  padding-left: 20px;
}

.player-bottom .song-box .utilities-icon i {
  padding: 0px 10px;
}

.player-bottom .song-box .utilities-icon i:hover {
  color: #1ed760;
  opacity: 1;
}

/* player bar */
.player-bottom .player {
  align-content: center;
  margin-top: 8px;
}

.player-bottom .player .player-options {
  justify-content: center;
}

.player-bottom .player a {
  padding: 0px 10px;
  font-size: 15px;
  line-height: 30px;
  transition: color .2s;
}

.player-bottom .player #btn-big {
  font-size: 25px;
}

.player-bottom .player a:hover {
  color: #1ed760;
  opacity: .8;
}

.player-bottom .player #previous {
  border-left: 1px solid white;
}
.player-bottom .player #next {
  border-right: 1px solid white;
}

.player-bottom .player a:hover #previous {
  border-left: 1.5px solid #1ed760;
}
.player-bottom .player a:hover #next {
  border-right: 1.5px solid #1ed760;
}



/* time bar */
.player-bottom .player .player-bar {
  align-items: center;
  margin-top: 8px;
}

.player-bottom .player .player-bar h5 {
  padding: 0px 30px;
  font-weight: 400;
}

.player-bottom .player .time-bar {
  width: 250px;
  height: 4px;
  background-color: gray;
  border-radius: 100px;
}

.player-bottom .player .time-bar:hover,
.player-bottom .player-utilities .audio-bar:hover {
  cursor: pointer;
}

.player-bottom .player .time-passed {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 4px;
  background-color: lightgray;
  border-radius: 100px;
  transition: background-color .3s;
}

.player-bottom .player .time-bar:after {
  display: inline-block;
  /* display: none; */
  content: "";
  position: absolute;
  top: -5px;
  left: 80px;
  height: 10px;
  width: 10px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  background-color: white;
}

.player-bottom .player .time-bar:hover .time-passed {
  display: inline-block;
  background-color: #1ed760;
}

.player-bottom .player .time-bar:hover .time-bar::after {
  display: none;
}

/* player utilities */
.player-bottom .player-utilities {
  justify-content: center;
  align-items: center;
}
/* audio bar */
.player-bottom .player-utilities i  {
  font-size: 12px;
}

.player-bottom .player-utilities .audio-bar,
.player-bottom .player-utilities i {
  padding-right: 15px;
}

.player-bottom .player-utilities .audio-bar {
  width: 100px;
  height: 4px;
  background-color: gray;
  border-radius: 100px;
}

.player-bottom .player-utilities .audio-effective {
  position: absolute;
  top: 0;
  left: 0;
  width: 20;
  height: 4px;
  background-color: lightgray;
  border-radius: 100px;
  transition: background-color .3s;
}

.player-bottom .player .time-bar:after {
  display: inline-block;
  /* display: none; */
  content: "";
  position: absolute;
  top: -5px;
  left: 80px;
  height: 7px;
  width: 7px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  background-color: white;
}

/* MEDIA QUERY */
/* <1200px */
@media screen and (max-width:1200px) {

  /* box titoli - sezione scrolling */
  .main-page .scrolling .album-list li {
    width: calc((100% / 4) - 10px);
    justify-content:center;
  }
}

/* <992px */
@media screen and (max-width:992px) {

  /* box titoli - sezione scrolling */
  .main-page .scrolling .album-list li {
    width: calc((100% / 3) - 10px);
    justify-content:center;
  }
}

/* <767px md */
@media screen and (max-width:767px) {
  /* elementi hidden*/
  .md-hidden {
    display: none;
  }
  .md-show {
    display: inline;
  }
  /* sidebar left reduced */
  .section-main .sidebar-left {
    padding-left: 0px;
    margin-right: 0px;
    width: 60px;
    align-items: center;
  }
  .section-main .sidebar-left img {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sidebar-left .account,
  .sidebar-left .account .download-app a i {
    padding-right: 0px;
  }
  .sidebar-left .account .account-logged a {
    padding-right: 0px;
  }
  .sidebar-left .account .download-app {
    border-bottom: 0px;
  }
  .section-main .sidebar-left .sidebar-box-top .utilities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sidebar-left .account .download-app {
    display: flex;
    justify-content: center;
  }
  /* pseudo elementi green hidden */
  .section-main .sidebar-left .sidebar-box-top .utilities li:hover a:before {
    display: none;
  }
  .section-main .sidebar-left .sidebar-box-top .utilities #home:before {
    display: none;
  }
  /* box titoli - sezione scrolling */
  .main-page .scrolling .album-list li {
    width: calc((100% / 2) - 10px);
    justify-content:center;
  }
}
