* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* debug color */
  color: #fff;
}

/* utilities */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
/* page */
.app-container {
  height: 100vh;
}

/* SECTION MAIN */
.section-main {
  /* debug color */
  background-color: #6a5e5e;
  flex-grow: 1;
}

/* nav-bar left */
.section-main .navbar-left {
  /* debug color */
  background-color: #1c0707;
  width: 200px;
}



/* section bottom bottom bar */
.navbar-bottom {
  /* debug color */
  background-color: brown;
  height: 70px;
}
