* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* utilities */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
/* page */
.page {
  height: 100vh;
}

/* section main */
.section-main {
  flex-grow: 1;
}


/* section bottom */
.section-bot {
  /* debug color */
  background-color: brown;
  width: 100%;
  height: 100px;
}
